<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Game bars in <%= @city %> available tonight</h3>
      <!-- TODO: include date -->
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <!-- TODO: turn this into cards -->
      <div class="bar-cards">
        <% @bars.each do |bar| %>
          <%= render 'card', bar: bar %>
        <% end %>
      </div>
    </div>
  </div>
</div>
