.bar-card {
  position: relative;
  background: $light-gray;
  height: 200px;
  width: 360px;
  border: 1px solid $gray;
  margin: 20px;
  padding: 0 10px;
}

.bar-games {
  margin: 30px auto;
}

.bar-address {
  position: absolute;
  bottom: 5px;
}
